.mir-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1.9375em;
  height: 3em;
  background: none;
  border: thin solid var(--p-100);
  border-radius: 0.75em;
  font: 500 1rem/1 var(--font-sans);
  letter-spacing: 0.00625em;
  color: var(--p-100);
  text-align: center;
  appearance: none;
  cursor: pointer;

  &:hover {
    border-color: var(--p-120);
    color: var(--p-120);
  }

  &:disabled {
    border-color: var(--p-75);
    color: var(--p-75);
    cursor: default;
  }

  &.light {
    background-color: var(--background);
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--surface);
    }
  }

  &.primary {
    padding: 0 2em;
    background-color: var(--p-100);
    border: none;
    color: var(--text-inverted);

    &:hover {
      background-color: var(--p-120);
    }

    &:disabled {
      background-color: var(--p-75);
    }
  }

  &.text {
    padding: 0 2em;
    border: none;

    svg:first-child {
      margin-left: 0;
    }
  }

  &.button-text-xs {
    height: 100%;
    font-size: 0.75rem;
  }

  &.compact {
    padding: 0 1.4375em;
    height: 2em;
    border-radius: 0.5em;

    &.primary {
      padding: 0.1875em 1.5em;
    }
  }

  &.large {
    height: 3.375em;
    border-radius: 3em;
  }

  &.link {
    padding: 0;
    height: auto;
    border: none;
  }

  svg + span,
  span + svg {
    margin-left: 0.25em;
  }

  > svg:first-child {
    margin-left: -0.5em;
  }

  > svg:last-child {
    margin-right: -0.5em;
  }
}

.mir-segmented-buttons {
  display: flex;
  white-space: nowrap;

  .mir-button {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

[data-organization='bcbsks'] {
  .mir-button {
    border-radius: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mir-button.text.button-text-xs {
    padding: 0;
  }
}
