.ResetPassword {
  &[data-reach-dialog-content] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.25rem 2.5rem 1.25rem;
    max-width: 26.25rem;
    width: 80%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Moonlight */
    background: var(--surface);
    box-shadow: 0 1rem 1.5625rem 0.1875rem rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;

    max-height: 80vh;
    overflow-y: auto;
  }

  .modal-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    background: none;
    padding: 0;

    &:hover {
      cursor: pointer;

      img {
        transition: 0.15s ease-in-out;
        transform: scale(1.2);
      }
    }

    &:active {
      img {
        transition: 0s;
        transform: initial;
      }
    }
  }

  h1 {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--text-heading);
    letter-spacing: 0.00625rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }

  form {
    width: 90%;

    .has-error,
    .focused {
      margin-bottom: 0 !important;
    }

    #newPasswordField {
      div {
        position: relative;
      }
    }

    .field {
      position: relative;
      margin-bottom: 1.5rem;

      label,
      input {
        transition: all 0.2s;
      }

      label {
        position: absolute;
        top: 0.9375rem;
        font-family: var(--font-sans);
        font-size: 1rem;
        color: #454545;
        opacity: 1;
        user-select: none;
        transform-origin: left top;
        transition: all 0.2s;
        margin-left: 0.8125rem;
        cursor: text;
      }

      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        font-family: var(--font-sans);
        font-weight: 400;
        background: var(--background);
        box-sizing: border-box;
        border: 0.0625rem solid var(--graphics-100);
        border-radius: 0.5rem;
        outline: none;
        transition: padding-left 0s;
        transition: border-width 0.2s ease-in;
        transition: border-color 0.2s ease-in;
        box-shadow: none;
        padding-top: 1.125rem;
        padding-left: 0.75rem;
        height: 3rem;
        appearance: textfield;
        width: 100%;

        &::placeholder {
          color: transparent;
        }

        &:hover {
          border-width: 0.125rem;
          border-color: var(--p-100);
          padding-left: 0.6875rem;
        }

        &:focus {
          border-width: 0.125rem;
          border-color: var(--p-100);
          padding-left: 0.6875rem;

          & + label,
          &:not(:placeholder-shown) + label {
            transform: translateY(-0.4375rem);
            font-size: 0.75rem;
            color: var(--p-100);
          }
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-0.4375rem);
          font-size: 0.75rem;
          color: var(--text-hint);
        }
      }

      #showPasswordToggle {
        position: absolute;
        display: flex;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        #showPasswordIcon {
          height: 0.625rem;
          width: 1.125rem;
        }

        #hidePasswordIcon {
          height: 1rem;
          width: 1.125rem;
        }
      }

      .text-error {
        color: var(--error-1) !important;
      }

      .border-error {
        border-color: var(--error-1);

        &:focus,
        &:hover {
          border-color: var(--error-1) !important;
        }
      }

      .email-sent {
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        color: var(--text-hint);
        margin: 0;
      }
    }

    .message:not(.error-message) {
      padding: 0.5rem 0.75rem;
    }

    .error-message {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      color: var(--error-1);
      display: inline-block;
      margin-top: 0.5rem;
    }

    .submission-message {
      display: flex;
      align-items: flex-start;
      border-radius: 8px;
      margin-top: 1.5rem;
      padding: 0.5rem 0.875rem;

      img {
        margin-right: 0.625rem;
        margin-top: 0.125rem;
      }
    }

    #successMessage,
    #validationChecklist {
      background: #ecf9f2;
    }

    #emailNotFoundMessage {
      background: #ffebcc;
    }

    #failureMessage {
      background: #f8d7da;
    }

    #newPasswordError {
      margin-bottom: 0.625rem;
    }

    #passwordResetSuccess {
      background: #ecf9f2;
      margin-top: 0.25rem;
      margin-bottom: 1.5rem;
    }

    #validationChecklist {
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
      border-radius: 8px;
      padding: 0.5rem 0.875rem;

      li {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        img {
          margin-right: 0.625rem;
          margin-top: 0.125rem;
          width: 0.75rem;
        }
      }
    }

    .form-button {
      min-height: 2.5rem;
      width: 100%;
      display: flex;
      justify-content: center;

      #submitButton {
        min-width: 10.25rem;
      }

      #backToLoginButton {
        min-width: 13.0625rem;
      }

      #resetPasswordButton {
        min-width: 11.25rem;
      }

      button {
        &:active,
        &:focus {
          transition: 0s;
          background-color: var(--p-140);
        }

        &:disabled {
          transition: 0.15s;
          background-color: var(--p-20);
          border: none;
        }
      }
    }
  }
}

[data-organization='bcbsks'] .ResetPassword {
  form {
    input {
      border-radius: 0;
    }
  }
}
