<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>154038</integer>
		<key>LibraryBuildTag</key>
		<string>071A24C0-7CB1-473B-9450-93A3C210A190</string>
		<key>LibrarySchemaVersion</key>
		<integer>2622</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2017-10-23T21:20:20Z</date>
	<key>SnapshotLastAttemptStartDate</key>
	<date>2017-10-23T21:20:19Z</date>
	<key>SnapshotTables</key>
	<dict>
		<key>RKAdminData</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>15d216eef2bbc36cbab24d6278d2ca597c496ff1</string>
		</dict>
		<key>RKAlbum</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>fd4b1454b4669e572831d489f87b15d92a4b06c1</string>
		</dict>
		<key>RKAlbumVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>70d18ebed186699ff4f39b5bc010ebd4b285b803</string>
		</dict>
		<key>RKCustomSortOrder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>244414fa76ee116855f5c51cfdb6280777933da4</string>
		</dict>
		<key>RKFace</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>b9b268be79102bddd587eb40b85dad61293b83a7</string>
		</dict>
		<key>RKFolder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>2879b30c560c07502685b8aba0102c6a1bf94272</string>
		</dict>
		<key>RKImageProxyState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>2c0e65bb94810fa5c80402858df94922da676421</string>
		</dict>
		<key>RKImportGroup</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>41f94437b5cfa7f2a0a5943bb46d62bdb1a51250</string>
		</dict>
		<key>RKKeyword</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>593d960b46cbb9fd6b639f4bbe45b5e80d66a196</string>
		</dict>
		<key>RKMaster</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>952a4b4467a45401afeeedb1f5483ea905254615</string>
		</dict>
		<key>RKModelResource</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>aa6a3c96ff941c57158f8beea661a8bab41f157d</string>
		</dict>
		<key>RKPlace</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>2527e435cf1bfb11fd3cc41009c9fb8250c13508</string>
		</dict>
		<key>RKPlaceForVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>e077e1e2d45bef32ade0f9e4159ff6409f6aab10</string>
		</dict>
		<key>RKVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>0c01d2f585ea682ba42ee0e084c597d4b95de430</string>
		</dict>
		<key>RKVersionAnalysisState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>bd4a76ea3b331b23256ee353f770e578f994b79d</string>
		</dict>
	</dict>
</dict>
</plist>
