.counter {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;

  .integer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-left: 4px;
    color: #808080;
  }

  &.disabled {
    .integer {
      color: var(--graphics-100);
    }
  }
}
