.reset-password {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
    text-align: center;
    margin-bottom: 20px;

    color: var(--text-heading);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .has-error,
    .focused {
      margin-bottom: 0 !important;
    }

    #newPasswordField {
      div {
        position: relative;
      }
    }

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 1.5rem;

      .email-sent {
        text-align: center;
        font-family: Roboto, serif;
        font-size: 16px;
        color: var(--text-hint);
        margin: 0;
      }
    }

    .message:not(.error-message) {
      padding: 0.5rem 0.75rem;
    }

    .error-message {
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      color: var(--error-1);
      display: inline-block;
      margin-top: 0.5rem;
    }

    .submission-message {
      display: flex;
      align-items: flex-start;
      border-radius: 8px;
      margin-top: 1.5rem;
      padding: 0.5rem 0.875rem;

      img {
        margin-right: 0.625rem;
        margin-top: 0.125rem;
      }
    }

    #successMessage,
    #validationChecklist {
      background: #ecf9f2;
    }

    #emailNotFoundMessage {
      background: #ffebcc;
    }

    #failureMessage {
      background: #f8d7da;
    }

    #newPasswordError {
      margin-bottom: 0.625rem;
    }

    #passwordResetSuccess {
      background: #ecf9f2;
      margin-top: 0.25rem;
      margin-bottom: 1.5rem;
    }

    #validationChecklist {
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
      border-radius: 8px;
      padding: 0.5rem 0.875rem;

      li {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        img {
          margin-right: 0.625rem;
          margin-top: 0.125rem;
          width: 0.75rem;
        }
      }
    }

    .form-button {
      min-height: 2.5rem;
      width: 100%;
      max-width: 413px;
      display: flex;
      justify-content: center;

      #submitButton {
        min-width: 10.25rem;
      }
      #backToLoginButton {
        min-width: 13.0625rem;
      }
      #resetPasswordButton {
        min-width: 11.25rem;
      }

      button {
        width: 100%;
        &:active,
        &:focus {
          transition: 0s;
          background-color: var(--p-140);
        }

        &:disabled {
          transition: 0.15s;
          background-color: var(--p-20);
          border: none;
        }
      }
    }
  }
}
